
//boje
$boja_pozadina: rgb(49,57,86);
$boja_bela: white;


//padding
$padding_l_0: 0px !important;
$padding_r_0: 0px !important;
$padding_t_50: 50px;
$padding_t_70: 70px;
$padding_t_80: 80px;
$padding_b_80: 80px;
$padding_b_50: 50px;
$padding_20: 20px;


//margin
$margin_t: 80px;
$margin_b: 80px;
$margin_a: auto;
$margin_r_15: 15px;



//ostale
$centar: center;
$display_inl: inline-block;
$cover: cover;
$no_repeat: no-repeat;
$fixed: fixed;
$visina_500: 500px;
$sirina_100: 100%;
$visina_100: 100%;
$top_0: 0px;