$boja_bela: white;
$boja_crvena: red;
$boja_crna: black !important;
$boja_1: antiquewhite;
$boja_2: burlywood;
$boja_3: aquamarine;
$boja_4: teal;
$boja_5: silver;


$proc_50: 50%;
$proc_100: 100%;

$centar: center;


$none: none;